@import 'colors';
@import 'mixins';
@import 'anim';


.imgBox {
    width: 25rem;
    height: 25rem;
    margin: auto;
    margin-top: 2.5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 .5rem 3rem .1rem rgba(0, 0, 0, .2);
    }
    .anim {
        animation: rotateCover 3s linear infinite;
    }
}