REACT_APP_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
REACT_APP_PINATA_API_KEY=paste_your_pinata_api_key_here
REACT_APP_PINATA_SECRET_KEY=paste_your_pinata_secret_key_here
REACT_APP_ENC_KEY=pick_any_strong_random_string
