<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.kgec.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.gmail.kgec.project.permission.MAPS_RECIEVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.gmail.kgec.project.permission.MAPS_RECIEVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ResultView" />
        <activity android:name=".MapView" />
        <activity android:name=".DetailView" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBDi_lOC9FNYUsk9N3ZEIIt2QeaTcunYZs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Splashscreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>